@model IEnumerable<ASP_Ecomerce.Models.Products>
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10">
        <h2 class="text-info">Product List</h2>
    </div>
    <div class="col-2 text-right">
        <a asp-action="Create" class="btn btn-info"><i class="fas fa-plus"></i>&nbsp; Add New Product</a>
    </div>

</div>

<form method="post">
    <div class="row">
        <div class="col-3">
            <input type="text" class="form-control" name="lowAmount"/>
        </div>
        <div class="col-3">
            <input type="text" class="form-control" name="largeAmount" />
        </div>
        <div class="col-3">
            <input type="submit" value="search" class="btn btn-success"/>
        </div>
    </div>
</form>

<br />
<div>
    <table class="table table-striped border" id="myTable">
        <thead>
            <tr class="table-info">
                <th>
                    @Html.DisplayNameFor(c => c.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductColor)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.IsAvailable)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.ProductTypeId)
                </th>
                <th>
                    @Html.DisplayNameFor(c => c.SpecialTagId)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductColor</td>
                    <td>@item.IsAvailable</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td>@item.SpecialTags.SpecialTag</td>
                    <td>
                        <partial name="_ButtonPartialProduct" model="@item.Id" />
                    </td>
                </tr>
            }
        </tbody>


    </table>
</div>

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]
            });
        });
    </script>
}